@import "tailwindcss";
/* Reset total para que los navegadores no metan espacios */


html, body {
  width: 100%;
  min-height: 100vh;
  /* Quitamos el color oscuro para que sea blanco por defecto */
  background-color: #ffffff; 
  color: #000000;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}

#root {
  width: 100%;
}

body {
  overflow-x: hidden;
}